<?xml version="1.0" encoding="utf-8"?>
<!-- ComponentActivity declared here so Robolectric can launch it in Compose UI tests -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="androidx.activity.ComponentActivity" android:exported="false" />
    </application>
</manifest>
